.login-form, .forgotpass-form {
	padding: 0px $defaultPadding 0px $defaultPadding;
	margin-top: 50px;

	table {
		width: 50%;
		margin: 0 auto;
		border: 1px solid #eFeFeF;
		border-radius: 4px;
		padding: 10px;

		td {
			border : 0px;
			vertical-align: middle;

			input {
				height : 30px;
				width : 220px;
			}

			button {
				float: right;
				margin: 10px;
			}
		}

		td.extralinks {
			text-align: right;
		}
	}
}

.section {
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: $defaultPadding;
	margin-bottom: $defaultMargin;
}

.user_type_as, .role_type_as {
	/*display: none;*/
}

.label {
	width: 150px;
	/*display: inline-block;*/
	vertical-align: top;
	text-transform: capitalize;
}

.dataSection {
	display: inline-block;
}

.permissions input {
	margin-bottom: $defaultMargin;
	margin-right: $defaultMargin;
}

.button-panel {
}

a.signup {
	font-size: 12px;
	text-decoration: underline !important;
}

.inputForm {
	.label.notMandatory:after {
		content: "";
	}

	.label:after {
		content: "*";
		color: $redColor;
	}
}

.notes_list {
	 table {
		border-bottom: 1px solid #dddddd;

		tr {
			td {
				border-bottom: 0px solid #dddddd;
			}

			td.cell.label {
				width: auto;	
			}
		}
	}
}

table.viewOne {
	tr {
		td.cell.label {
			/*width: auto;*/
		}

		td {
			border-bottom:0px;
		}
	}
}

table.viewOne.projectViewOne {
	margin: 0px;
}

/* Accordiance CSS Override */
.accordion h3, .accordion h2 {
	padding: 5px 5px 5px 30px !important;
	background-color: transparent;
	background-image: none;
	border:0px;
	clear: both;
	/*color: #244C61;*/
}

span.inner_accordion {
	font-size: 12px;
	color: rgb(85, 85, 85);
	padding: 1px 5px 1px 5px;
}

.accordion h2 {
	padding: 5px 5px 0px 40px !important;
	color:#244C61 !important;
	font-size:1.2em !important;
	font-weight:normal;
	text-transform:none !important;
}

.project_section {
	border: 0px;
}

/* Page Links */
.create-link {
	margin-bottom: 20px;
}

.error {
	color : red;
}

.size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

.red { color : $redColor;}

.delete:hover {
	color:$deleteColor;
}

table.viewAll tr td {
	padding:5px;
}

a.accordion_link {
	width: 100px;
	position: absolute;
	margin-left: 600px;
	font-size: 12px;
	text-decoration: underline !important;
	text-align: right;
	float: left;
	left: 0px;
}

a.accordion_link, a.accordion_link:visited { 
	color:#4086AA !important;
} 
a.accordion_link:hover { 
	color:#2B5B78  !important;
}

a.accordion-icon {
	text-align: right;
	float: right;
}

a.accordion-icon, a.accordion-icon:visited { 
	color:#4086AA;
} 
a.accordion-icon:hover { 
	color:#2B5B78;
}

.header-options {
	border:0px;
	
	h2 {
		float:left;
	}
	.ui-icon {
		background-image: url("/images/jquery/ui-icons_ef8c08_256x240.png");
	}
	.options-icon {
		float: right;

		a {
			text-decoration: none;
			margin: 0px 5px 0px 5px;
		}
	}
	.left-icon-list {
		float:left;
		span {
			margin-left : 10px;
		}
	}
	.expand-all, .collapse-all {
		float: left;
		border-width: 1px;
		border-color: #eb8f00;
		border-style: dotted;
		border-radius: 5px;
		cursor: pointer;
	}
}

.contractorDetails {
	border: 1px solid #D3D3D3;
	padding: $defaultPadding;
}

.contractorCompany {
	margin-top : $defaultMargin;
}

select.multi-select {
	min-height : 100px;
	min-width: 100px;
}

textarea.small-textarea {
	width : 200px !important;
	height : 50px !important;
}

.contractorSearch .searchIcon {
	padding: 0px 5px;
	position: absolute;
}

.issue-contractor-for-project-result ul, 
.adjuster-search-result ul, 
.customer-search-result ul, 
.contractor-search-result ul, 
.contractor-search-selected ul, 
.adjuster-search-result ul, 
.adjuster-search-selected ul,
.issue-adjuster-for-project-result ul,
.default-user-search-result ul,
.owner-search-result {
    border: 1px solid #D0D0D0;
    width: 220px;
    min-height: 20px;
    max-height : 150px;
    overflow-y: auto;
    overflow-x:hidden;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: $defaultMargin;
    background-color: #EEEEEE;
  }
 
 .owner-search-result {
 	/*max-height: none;
 	float : none;*/
 }
 
 .owner-search-result.users {
 	/*max-height: 150px;*/
 	margin-top: -20px;
 }

.issue-contractor-for-project-result ul li, 
.adjuster-search-result ul li, 
.customer-search-result ul li,
.contractor-search-result ul li, 
.contractor-search-selected ul li, 
.adjuster-search-result ul li, 
.adjuster-search-selected ul li,
.issue-adjuster-for-project-result ul li,
.default-user-search-result ul li,
.owner-search-result li {
    margin: 0px 2px 5px 2px;
    padding: 5px;
    font-size: 1.2em;
    width: 190px;
    color: inherit;
  }

.adjuster-search-result ul, .customer-search-result ul, .contractor-search-result ul,  .default-user-search-result ul {
	margin-top: -12px;
	/*position: absolute;
	margin-left: 200px;*/
}

.adjuster-search-result .second, .customer-search-result .second, .contractor-search-result .company, .owner-search-result .company .default-user-search-result .second {
	color: #D2B9B9;
}

.search-action {
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 2px 1px 0px 1px;
	float: right;
	margin-top: -25px;
	background-color: #f6f6f6;
}

.owner-search-result .search-action,
.issue-contractor-for-project-result .search-action,
.issue-adjuster-for-project-result .search-action {
	border: 0px;
	background: initial;
	padding: 0px;
	margin-top: -32px;
}

/* Search Combo box */
.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}

.custom-combobox-input {
	margin: 0;
	padding: 5px $defaultMargin;
}

a.icon-right {
	margin-top: -7px;
}

#project_content .ui-widget-content, #claims_content .ui-widget-content {
	border-width:0px 0px 1px 0px;
}

.projectViewOne .project-title {
	width : auto;
}

.fl {
	float: left;
}

.ui-accordion-icons .accordion-icon {
	display : none;
}

.ui-accordion-header-active .accordion-icon {
	display : block;
}

.internal-tab-as-links {
	text-align: center;
	border-bottom: 1px solid #D0D0D0;
	padding-bottom: 10px;
	margin: 0px 20px;
	text-align : right;

	a {
		padding: 5px;
		text-decoration: none;
		border-radius: 4px;
		margin: 0px 3px;
	}

	> a {
		border:1px solid #E0E0E0;
	}

	> a.active {
		background-color: #E0E0E0;
	}
}

.connectedSortable {
	/*position: absolute;*/
	/*margin-top: -20px;*/
}

.connectedSortable.dropdown {
	position: absolute;
	margin-top: -20px;
	z-index: 10;
}

.page-tabs {
	border:0px;
	background: none;
}
.page-tabs>ul {
    /*background: #FAC87F !important;*/
    background: #FFFFFF !important;
    border: 1px solid #e78f08;

    .ui-state-default {
    	background: none;
    }

   	.ui-tabs-active {
   		border-bottom:1px solid #FFFFFF;
   	}
}

#tradesList {
	.red {
		color: red !important;
	}
	.accordion-icon {
		margin-left: 10px;
	}

	.viewOne {
		a {
			text-decoration : none;
			display : none;
		}

		tr.active {
			a {
				display : block;
			}
		}
	}
}

.discount-table-list {
	.red {
		color: red !important;
	}
}

#testimonialList {
	.red {
		color: red !important;
	}
	.viewOne {
		a {
			text-decoration : none;
		}
	}
}