.login-form {
	padding: 10px 10px 0px 10px;
}

.section {
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.user_type_as {
	/*display: none;*/
}

.label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	text-transform: capitalize;
}

.dataSection {
	display: inline-block;
}

.permissions input {
	margin-bottom: 10px;
	margin-right: 10px;
}

.button-panel a.signup {
	font-size: 13px;
	float: left;
	margin-left: 10px;
	text-decoration: underline;
}

.inputForm .label.notMandatory:after {
	content: "";
}

.inputForm .label:after {
	content: "*";
	color: red;
}

.notes_list {

}

.notes_list table {
	border-bottom: 1px solid #dddddd;	
}

.notes_list table tr td {
	border-bottom: 0px solid #dddddd;	
}

.notes_list table tr td.cell.label {
	width: auto;	
}

table.viewOne tr td.cell.label {
	/*width: auto;*/
}

table.viewOne tr td {
	border-bottom:0px;
}

table.viewOne.projectViewOne {
	margin: 0px;
}

/* Accordiance CSS Override */
.accordion h3, .accordion h2 {
	padding: 5px 5px 5px 30px !important;
	background-color: transparent;
	background-image: none;
	border:0px;
	/*color: #244C61;*/
}

span.inner_accordion {
	font-size: 12px;
	color: rgb(85, 85, 85);
	padding: 1px 5px 1px 5px;
	background: #dddddd;
}

.accordion h2 {
	padding: 5px 5px 0px 40px !important;
	color:#244C61 !important;
	font-size:1.2em !important;
	font-weight:normal;
	text-transform:none !important;
}

.project_section {
	border: 0px;
}

/* Page Links */
.create-link {
	margin-bottom: 20px;
}

.size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

.red { color : red;}

.delete:hover {
	color:red;
}

table.viewAll tr td {
	padding:5px;
}

a.accordion_link {
	width: 100px;
	position: absolute;
	margin-left: 600px;
	font-size: 12px;
	text-decoration: underline !important;
	text-align: right;
	float: left;
	left: 0px;
}

a.accordion_link, a.accordion_link:visited { 
	color:#4086AA !important;
} 
a.accordion_link:hover { 
	color:#2B5B78  !important;
}