.login-form {
	padding: 10px 10px 0px 10px;
}

.section {
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.user_type_as {
	/*display: none;*/
}

.label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	text-transform: capitalize;
}

.dataSection {
	display: inline-block;
}

.permissions input {
	margin-bottom: 10px;
	margin-right: 10px;
}

.button-panel a.signup {
	font-size: 13px;
	float: left;
	margin-left: 10px;
	text-decoration: underline;
}

.inputForm .label.notMandatory:after {
	content: "";
}

.inputForm .label:after {
	content: "*";
	color: red;
}

.notes_list {

}

.notes_list table {
	border-bottom: 1px solid #dddddd;	
}

.notes_list table tr td {
	border-bottom: 0px solid #dddddd;	
}

.notes_list table tr td.cell.label {
	width: auto;	
}

table.viewOne tr td.cell.label {
	/*width: auto;*/
}

table.viewOne tr td {
	border-bottom:0px;
}

table.viewOne.projectViewOne {
	margin: 0px;
}

/* Accordiance CSS Override */
.accordion h3, .accordion h2 {
	padding: 5px 5px 5px 30px !important;
	background-color: transparent;
	background-image: none;
	border:0px;
	clear: both;
	/*color: #244C61;*/
}

span.inner_accordion {
	font-size: 12px;
	color: rgb(85, 85, 85);
	padding: 1px 5px 1px 5px;
}

.accordion h2 {
	padding: 5px 5px 0px 40px !important;
	color:#244C61 !important;
	font-size:1.2em !important;
	font-weight:normal;
	text-transform:none !important;
}

.project_section {
	border: 0px;
}

/* Page Links */
.create-link {
	margin-bottom: 20px;
}

.size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

.red { color : red;}

.delete:hover {
	color:red;
}

table.viewAll tr td {
	padding:5px;
}

a.accordion_link {
	width: 100px;
	position: absolute;
	margin-left: 600px;
	font-size: 12px;
	text-decoration: underline !important;
	text-align: right;
	float: left;
	left: 0px;
}

a.accordion_link, a.accordion_link:visited { 
	color:#4086AA !important;
} 
a.accordion_link:hover { 
	color:#2B5B78  !important;
}

a.accordion-icon {
	text-align: right;
	float: right;
}

a.accordion-icon, a.accordion-icon:visited { 
	color:#4086AA;
} 
a.accordion-icon:hover { 
	color:#2B5B78;
}

.header-options h2 {
	float:left;
}

.header-options .options-icon {
	float: right;
}

.header-options .options-icon a {
	text-decoration: none;
	margin: 0px 5px 0px 5px;
}

.contractorDetails {
	border: 1px solid #D3D3D3;
	padding: 10px;
}

.contractorCompany {
	margin-top : 10px;
}

select.multi-select {
	min-height : 100px;
	min-width: 100px;
}

textarea.small-textarea {
	width : 200px !important;
	height : 50px !important;
}

.contractorSearch .searchIcon {
	padding: 0px 5px;
	position: absolute;
}

.issue-contractor-for-project-result ul, 
.adjuster-search-result ul, 
.customer-search-result ul, 
.contractor-search-result ul, 
.contractor-search-selected ul, 
.adjuster-search-result ul, 
.adjuster-search-selected ul,
.issue-adjuster-for-project-result ul, 
.owner-search-result {
    border: 1px solid #D0D0D0;
    width: 220px;
    min-height: 20px;
    max-height : 150px;
    overflow-y: auto;
    overflow-x:hidden;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    background-color: #EEEEEE;
  }
 
 .owner-search-result {
 	max-height: none;
 	float : none;
 }
 
 .owner-search-result.users {
 	max-height: 150px;
 }

.issue-contractor-for-project-result ul li, 
.adjuster-search-result ul li, 
.customer-search-result ul li,
.contractor-search-result ul li, 
.contractor-search-selected ul li, 
.adjuster-search-result ul li, 
.adjuster-search-selected ul li,
.issue-adjuster-for-project-result ul li,
.owner-search-result li {
    margin: 0px 2px 5px 2px;
    padding: 5px;
    font-size: 1.2em;
    width: 190px;
    color: inherit;
  }

.adjuster-search-result ul, .customer-search-result ul, .contractor-search-result ul {
	margin-top: -10px;
	position: absolute;
	margin-left: 200px;
}

.adjuster-search-result .second, .customer-search-result .second, .contractor-search-result .company, .owner-search-result .company {
	color: #D2B9B9;
}

.search-action {
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 2px 1px 0px 1px;
	float: right;
	margin-top: -25px;
	background-color: #f6f6f6;
}

.owner-search-result .search-action,
.issue-contractor-for-project-result .search-action,
.issue-adjuster-for-project-result .search-action {
	border: 0px;
	background: initial;
	padding: 0px;
	margin-top: -32px;
}

/* Search Combo box */
.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}

.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
}

a.icon-right {
	margin-top: -7px;
}

#project_content .ui-widget-content {
	border-width:0px 0px 1px 0px;
}

.projectViewOne .project-title {
	width : auto;
}
.fl {
	float: left;
}