@import url("fonts.css");
@import url("font-awesome.css");
* {
  margin: 0px;
  padding: 0px;
  font-size: 12px; }

body {
  background: #9A9786 !important;
  margin: 0 auto !important;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #555555; }

/* HTML 5 CSS*/
header, section, footer, aside, nav, main, article, figure {
  display: block; }

/*** HEADERS ***/
h1 {
  font-size: 3.2em;
  letter-spacing: -2px;
  text-align: left;
  padding-bottom: 10px;
  line-height: 1.0em;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif; }
  h1 a, h1 a:visited, h1 a:hover, h1 a:visited {
    text-decoration: none;
    font-weight: normal;
    padding-left: 10px;
    font-size: inherit; }

h2 {
  color: #244C61;
  font-size: 1.7em;
  font-weight: normal;
  /*padding:0 0 $defaultPadding;*/
  text-align: left;
  /*text-transform:none;*/
  text-transform: capitalize; }

h3 {
  color: #244C61;
  font-size: 1.2em;
  font-weight: normal;
  /*padding-bottom:$defaultPadding;*/ }

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  font-weight: bold;
  /*padding-bottom:$defaultPadding;*/
  color: #32698B;
  text-transform: uppercase; }

h5 {
  /*padding-bottom:$defaultPadding;*/ }

/*** ELEMENT DEFAULTS ***/
/* Paragraphs, lists */
p {
  margin-bottom: 20px;
  line-height: 1.9em;
  /*font-size:0.75em;*/ }

ul, ol {
  /*font-size:0.75em;*/
  padding: 0 0 20px 35px; }

li ul, li ol {
  font-size: 1.0em;
  padding-bottom: 0; }

/* default forms */
input, textarea, select {
  padding: 3px;
  border: 1px solid #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  border-radius: 2px; }

button {
  background-color: #32698B;
  border: 2px solid #2B5B73;
  font-weight: bold;
  color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 5px 6px;
  text-transform: capitalize;
  cursor: pointer; }

.input-radio-checkbox, .form input[type="checkbox"], .form textarea[type="checkbox"], .form select[type="checkbox"], .form input[type="radio"], .form textarea[type="radio"], .form select[type="radio"] {
  height: 20px;
  width: 20px;
  margin: 10px; }

.button-panel {
  text-align: right; }

.error {
  /*color: red;*/
  /*display: inline-block;*/
  /*font-size: 11px;*/ }

div.form-error {
  color: red;
  font-size: 11px;
  margin-top: 2px; }

input.form-error, textarea.form-error, select.form-error, a.form-error {
  border-color: red !important; }

fieldset {
  border: none;
  border-top: 1px solid #dddddd;
  margin: 20px 0;
  padding: 0px;
  font-size: 0.9em; }
  fieldset form {
    padding: 25px 20px; }
  fieldset legend {
    background-color: #ffffff;
    padding: 0 5px;
    margin-left: 10px;
    font-weight: bold; }
  fieldset p {
    margin-bottom: 28px; }
    fieldset p label {
      float: left;
      display: block;
      width: 100px;
      font-weight: bold; }
      fieldset p label span.required {
        font-weight: bold;
        color: #ff0000; }

/* default links */
a, a:visited {
  color: #4086AA; }
  a:hover {
    color: #2B5B78; }

/*** CONTENT STYLES ***/
div.content {
  color: #555555;
  min-height: 550px; }
  div.content li {
    padding: 5px 0; }

/*** FOOTER ***/
p.footer {
  text-align: left;
  color: #fff;
  background-color: #326A85;
  font-size: 0.7em;
  padding: 15px;
  margin: 0;
  clear: both; }
  p.footer a {
    color: #fff;
    background-color: #326A85;
    border-bottom: 1px dotted #fff;
    text-decoration: none; }

/*** PORTFOLIO LAYOUT ***/
div#portfolio div.portfolio-column {
  width: 290px;
  float: left; }
  div#portfolio div.portfolio-column img {
    border: 5px solid #ddd;
    margin: 0 auto;
    display: block;
    text-align: center; }
  div#portfolio div.portfolio-column h2 {
    padding-top: 5px; }
    div#portfolio div.portfolio-column h2 a {
      font-weight: bold;
      font-size: 0.8em; }
div#portfolio div.column-left {
  margin-right: 25px; }
div#portfolio div.portfolio-row {
  clear: both;
  padding-bottom: 30px; }

/*** WIDGETS + CLASSES***/
/*** SIDEBAR STYLES ***/
div.sidebar {
  color: #999999;
  /* Phone */
  /* News items */
  /* Blocklist */
  /* Testimonial */ }
  div.sidebar h4 {
    background-color: #32698B;
    border-top: 4px solid #2B5B78;
    color: #FFFFFF;
    padding: 10px; }
  div.sidebar a {
    color: #4086AA;
    font-family: Georgia, "Times New Roman", Times, serif;
    /*font-size:0.9em;*/
    text-decoration: none; }
    div.sidebar a:hover {
      color: #244C65; }
  div.sidebar p {
    color: #777777;
    margin-bottom: 10px;
    padding: 2px; }
  div.sidebar ul {
    font-size: 0.9em;
    margin: 0 0 40px;
    padding: 0px;
    list-style: none; }
    div.sidebar ul li {
      padding: 0; }
      div.sidebar ul li ul {
        padding: 0 2px; }
        div.sidebar ul li ul li {
          padding: 10px;
          border-bottom: 1px dashed #ddd; }
  div.sidebar p.phone {
    color: #006599;
    font-size: 1.8em;
    font-weight: bold; }
  div.sidebar li.newsitem {
    padding: 10px 5px; }
    div.sidebar li.newsitem span {
      display: block; }
    div.sidebar li.newsitem span.headline {
      font-weight: bold; }
    div.sidebar li.newsitem span.date {
      font-size: 0.8em; }
    div.sidebar li.newsitem span.extract {
      padding: 5px 0; }
    div.sidebar li.newsitem span.morelink a {
      color: #32698B;
      display: block;
      text-align: right;
      padding: 2px;
      font-size: 0.9em;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif; }
  div.sidebar ul.blocklist {
    padding: 0;
    border-top: 1px solid #ddd; }
    div.sidebar ul.blocklist li {
      padding: 0;
      border-bottom: 1px solid #ddd; }
      div.sidebar ul.blocklist li a {
        padding: 10px;
        display: block;
        background-color: #e3e3e3; }
        div.sidebar ul.blocklist li a:hover {
          background-color: #4085B0;
          color: #fff; }
    div.sidebar ul.blocklist li.selected a, div.sidebar ul.blocklist li.selected a:hover {
      background-color: #2B5B78;
      color: #fff; }
  div.sidebar p.testimonial {
    margin: 10px 0;
    font-size: 0.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif; }
    div.sidebar p.testimonial strong, div.sidebar p.testimonial em {
      display: block;
      font-style: normal;
      line-height: 1.4em;
      text-align: right; }
    div.sidebar p.testimonial span {
      font-size: 1.7em;
      font-weight: bold; }
  div.sidebar div.greybox {
    padding: 5px;
    font-size: 1.1em;
    color: #32698B;
    background-color: #96BFD9;
    border-top: 4px solid #4B92BE;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border-top: 4px solid #ccc; }
  div.sidebar div.bluebox {
    padding: 5px;
    font-size: 1.1em;
    color: #32698B;
    background-color: #96BFD9;
    border-top: 4px solid #4B92BE;
    margin-bottom: 10px; }
    div.sidebar div.bluebox p {
      color: #32698B; }

/* Notes */
p.note {
  padding: 10px 15px !important;
  background-color: #A9CBE0;
  border: 1px solid #4086AA;
  color: #326A85; }

p.warning {
  background-color: #FFFF80;
  border: 1px solid #FFCC00;
  color: #333; }

p.error {
  background-color: #FF8585 !important;
  border: 1px solid #FF0505 !important;
  color: #ffffff !important; }

p.success {
  background-color: #7FDCA3;
  border: 1px solid #35C06A;
  color: #1F703E; }

/* Extras */
p.bold {
  font-weight: bold; }

p.smaller {
  font-size: 0.7em; }

p.bigger {
  font-size: 1.0em; }

/* Service list */
ul.servicelist {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  ul.servicelist li {
    display: block;
    background: transparent url("../images/question-icon.gif") no-repeat scroll 0 20px;
    padding: 0 0 0 60px;
    line-height: 1.9em; }
    ul.servicelist li span {
      display: block;
      padding: 20px 0 23px; }
  ul.servicelist li.app-icon {
    background-image: url("../images/app-icon.gif"); }
  ul.servicelist li.chart-icon {
    background-image: url("../images/chart-icon.gif"); }
  ul.servicelist li.bulb-icon {
    background-image: url("../images/bulb-icon.gif"); }
  ul.servicelist li.lock-icon {
    background-image: url("../images/lock-icon.gif"); }
  ul.servicelist li.last span {
    background-image: none; }

/* Misc */
.center {
  text-align: center;
  margin: 0 auto;
  display: block; }

*:focus {
  outline: none; }

.clear {
  clear: both; }

.ads {
  direction: left;
  behaviour: scroll;
  scrollammount: 5;
  /*+normal css*/ }

/*.form {
	
}*/
.form > div {
  margin-bottom: 10px; }

div.form {
  margin: 20px; }
  div.form .label {
    float: left;
    width: 200px;
    clear: both; }
  div.form textarea {
    width: 375px !important;
    height: 150px !important;
    width: 200px;
    height: 20px;
    padding: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #D0D0D0; }
  div.form input, div.form textarea, div.form select {
    width: 200px;
    height: 20px;
    padding: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #D0D0D0; }
  div.form input.address, div.form textarea.address, div.form select.address {
    width: 300px; }

.create-link {
  text-align: right; }
  .create-link a {
    font-size: 12px;
    padding: 5px; }

.table-action span {
  margin: 0px 10px 0px 10px; }
  .table-action span a {
    cursor: pointer;
    text-decoration: none; }
    .table-action span a:hover {
      font-weight: bold; }

.capitalize {
  text-transform: capitalize; }

/*** PAGE WRAPPER ***/
div.wrapper {
  width: 960px;
  margin: 0px auto;
  padding: 5px 10px 5px 10px;
  border-right: 5px solid #8D8A77;
  border-left: 5px solid #8D8A77;
  background-color: #ffffff; }

/*** HEADER ***/
header {
  /* padding:$defaultPadding - 5px $defaultPadding - 5px; */
  margin: 0 auto;
  background-color: #FFFFFF;
  /*border-top:4px solid #326A85;*/
  /*border-bottom:2px solid #326A85;*/
  /*margin-bottom:$defaultMargin;*/ }
  header .logged_in {
    float: right;
    margin-top: 25px; }
    header .logged_in .logged-in-as {
      display: inherit;
      font-size: 12px; }
  header .logo {
    float: left;
    margin-bottom: 5px; }
    header .logo .logo-img {
      width: 140px; }
  header .login_form {
    margin-top: 25px;
    float: right; }
    header .login_form table {
      margin: 0px; }
      header .login_form table td {
        border: 0px;
        padding: 2px 0px; }
    header .login_form p {
      padding: 0px 10px 0px 10px !important;
      margin: 0px; }
    header .login_form p.error {
      padding: 0px 10px 0px 10px !important;
      margin: 0px; }
    header .login_form .login-image {
      padding-left: 10px;
      vertical-align: middle; }
    header .login_form .button-panel a.signup {
      font-size: 12px;
      text-decoration: underline; }
    header .login_form input, header .login_form textarea, header .login_form select {
      padding: 2px; }
  header .captionText {
    font-size: 11px;
    text-transform: capitalize; }

/*@import "./themes/default/top_navigator";*/
/* default tables */
table {
  width: 100%;
  margin-bottom: 10px;
  /*font-size:0.75em;*/ }
  table tr th, table tr td {
    padding: 5px 10px; }
  table tr th {
    background: #4086AA none repeat-x scroll bottom left;
    color: #ffffff;
    border-top: 3px solid #2B5B78;
    text-align: left; }
  table tr td {
    border-bottom: 1px solid #eFeFeF; }
  table tr td.cell {
    color: #555555; }
  table tr td.cell.number {
    text-align: right; }
  table tr td.cell.text {
    text-align: left; }
  table tr td.cell.action, table tr td.cell.date {
    text-align: center; }
  table tr td.cell.name {
    width: 115px; }
  table tr td.cell.descr {
    width: 150px; }
  table tr td.cell.description {
    max-width: 450px; }
  table tr td.cell.table-action, table tr td.cell.percentage, table tr td.cell.date {
    text-align: center; }
  table tr td.cell.label {
    display: table-cell; }
  table tr td.cell.dollers div {
    width: 100px;
    text-align: right; }
  table tr.heading {
    /*text-align: center;*/
    font-weight: bold; }
    table tr.heading td {
      text-transform: capitalize; }
    table tr.heading td.cell {
      text-align: left; }
    table tr.heading td.cell.table-action, table tr.heading td.cell.date, table tr.heading td.cell.percentage {
      text-align: center; }

table.form td {
  border-bottom: 0px solid #eFeFeF; }
table.form .label {
  width: 200px; }
table.form textarea {
  width: 375px !important;
  height: 150px !important;
  width: 200px;
  height: 20px;
  padding: 2px;
  border-radius: 2px;
  border-width: 1px;
  border-color: #D0D0D0; }
table.form input, table.form textarea, table.form select {
  width: 200px;
  height: 20px;
  padding: 2px;
  border-radius: 2px;
  border-width: 1px;
  border-color: #D0D0D0; }
table.form input.address, table.form textarea.address, table.form select.address {
  width: 300px; }
table.form select {
  height: 26px;
  line-height: 26px;
  width: 206px; }
table.form .signupTC * {
  margin: 0px;
  padding: 0px;
  width: auto; }
table.form .signupTC input[type="checkbox"], table.form .signupTC textarea[type="checkbox"], table.form .signupTC select[type="checkbox"] {
  width: 20px;
  margin-left: 10px; }
table.form .signupTC .error {
  display: none; }
  table.form .signupTC .error td {
    padding-left: 10px; }

/* misc */
code {
  background-color: #666666;
  display: block;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0; }

blockquote {
  border-left: 4px solid #ddd;
  margin: 0 0 0 20px;
  padding-left: 15px; }

/*** FRONTPAGE SLIDER CSS ***/
div.frontpage-slider {
  height: 220px;
  background-color: #E6E6E6;
  border-bottom: 4px solid #ddd;
  margin-bottom: 25px; }

div#jFlowSlide {
  margin: 0 auto; }

div#slides-container {
  height: 220px; }
  div#slides-container div#jFlowSlide {
    height: 200px; }
  div#slides-container div.jFlowSlideContainer img {
    margin: auto;
    display: block;
    border: 4px solid #ccc; }
  div#slides-container div.jFlowSlideContainer div.slide-text {
    padding-top: 20px; }
    div#slides-container div.jFlowSlideContainer div.slide-text h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5em;
      font-weight: bold; }
  div#slides-container div.jFlowSlideContainer div.slide-image {
    float: left;
    width: 322px;
    padding-top: 10px; }

span.jFlowPrev, span.jFlowNext {
  background-image: url("../images/slide-prev.gif");
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  width: 25px;
  float: left;
  margin: 0;
  cursor: pointer; }
  span.jFlowPrev span, span.jFlowNext span {
    display: none; }

span.jFlowNext {
  background-image: url("../images/slide-next.gif");
  float: right; }

div#slides-container div.controls {
  position: relative;
  top: -125px;
  width: 920px;
  margin: 0 auto; }
div#slides-container div.jFlowSlideContainer p {
  font-size: 0.9em;
  line-height: 1.8em; }

/* widths */
div.column-220 {
  width: 220px; }

div.column-275 {
  width: 275px; }

div.column-480 {
  width: 480px; }

div.column-490 {
  width: 490px; }

div.column-640 {
  width: 640px; }

div.column-700 {
  width: 700px; }

div.column-940 {
  width: 940px; }

/* floats */
div.column-left {
  float: left;
  padding-right: 10px; }

div.column-right {
  float: right;
  padding-left: 10px; }

/* inner */
div.inner-column {
  padding: 0 10px; }

/* text */
div.text-padding {
  padding: 0 5px; }

.normal-text {
  text-transform: none; }

.prefMode {
  padding-top: 20px; }

table.innerOption {
  width: inherit; }
  table.innerOption tr td {
    border: 0px;
    padding: 0px;
    padding-right: 10px; }
  table.innerOption input[type="checkbox"], table.innerOption textarea[type="checkbox"], table.innerOption select[type="checkbox"] {
    margin: 5px 0px 5px 0px; }
  table.innerOption input[type="radio"], table.innerOption textarea[type="radio"], table.innerOption select[type="radio"] {
    margin: 5px 0px 5px 0px; }

/* ==== Google font ==== */
/* === fontawesome === */
/* === custom icon === */
.nav_top {
  background: #7F7F7F;
  margin: 0;
  position: relative;
  z-index: 100; }

/* --- menu --- */
.nav_top .navigation {
  /*float:right;*/ }

.nav_top ul.nav li {
  border: none;
  margin: 0; }

.nav_top ul.nav li a {
  /*border:none;*/
  font-weight: 400; }

.nav_top ul.nav li ul {
  z-index: 50; }

.nav_top ul.nav li ul li ul {
  margin: -1px 0 0 1px; }

.nav_top ul.nav li a i {
  margin-left: 5px;
  color: #fff; }

/*.container,
.navbar-static-top .container{
  width: 940px;
}*/
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1; }

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: ""; }

.container:after {
  clear: both; }

.dropdown {
  position: relative; }

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none; }

.nav > li > a {
  display: block; }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee; }

.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
  cursor: pointer; }

.navbar .nav a:hover {
  background: none; }

.navbar .nav > .active > a, .navbar .nav > .active > a:hover {
  font-weight: 600; }

.navbar .nav > .active > a:active, .navbar .nav > .active > a:focus {
  background: none;
  outline: 0;
  font-weight: 600; }

.navbar .nav li .dropdown-menu {
  z-index: 50; }

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0px;
  padding: 0px; }

.navbar .nav > li {
  float: left; }

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff; }

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent; }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #326A85;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125); }

.navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: ''; }

.navbar .nav > li > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: ''; }

.dropdown-menu {
  *border-right-width: 0;
  *border-bottom-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.dropdown-menu .dropdown i {
  position: absolute;
  right: 0;
  margin-top: 3px;
  padding-left: 20px; }

.dropdown-submenu > .dropdown-menu {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0; }

.navbar .nav {
  border-right: none;
  border-left: none; }

.navbar .nav > li > a {
  float: none;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 0;
  text-decoration: none;
  text-shadow: none;
  color: #fff;
  border: 2px solid transparent;
  padding: 15px;
  background-image: none;
  background: none; }

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #dddddd;
  background-color: none;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #7F7F7F;
  -moz-box-shadow: inset 0 0 1px #555;
  -webkit-box-shadow: inset 0 0 1px #555;
  box-shadow: inset 0 0 1px #555; }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  background-image: none;
  background-color: #326A85;
  filter: none;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: inset 0 0 1px #555;
  -webkit-box-shadow: inset 0 0 1px #555;
  box-shadow: inset 0 0 1px #555; }

.navbar .nav > a i[class^="icon-"] {
  color: #fdfdfd; }

ul.nav li.dropdown a {
  z-index: 50;
  display: block; }

ul.nav li.dropdown ul li ul.dropdown-menu {
  margin-left: 0px;
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid #302f2f; }

ul.nav li.dropdown ul li i {
  margin-right: 20px; }

select.selectmenu {
  display: none; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  display: none;
  float: left;
  min-width: 180px;
  padding: 0;
  list-style: none;
  /*background: #343434;*/
  background-color: #7F7F7F;
  border: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #302f2f;
  border-top: none;
  -webkit-background-clip: none;
  -moz-background-clip: none;
  background-clip: none;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

.dropdown-menu li {
  margin: 0;
  padding: 0; }

.dropdown-menu li a {
  color: #FFFFFF;
  font-size: 12px;
  padding: 10px 15px 10px 15px;
  margin: 0;
  text-shadow: none;
  /*border-bottom:1px solid #303030;*/
  text-decoration: none; }

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  filter: none;
  cursor: pointer; }

.dropdown-menu .sub-menu-level1, .dropdown-menu .sub-menu-level2 {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: 0; }

.dropdown-menu li:hover .sub-menu-level1 {
  visibility: visible; }

.dropdown-menu li li:hover .sub-menu-level2 {
  visibility: visible; }

@media (max-width: 768px) {
  .navbar-static-top {
    margin-right: -20px;
    margin-left: -20px; }

  .container {
    width: auto; }

  nav ul li {
    display: none; }

  header .navigation {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    float: none; }

  select.selectmenu {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    color: #111;
    margin-right: 20px;
    line-height: 30px;
    font-size: 13px; }

  select.selectmenu .bold {
    font-weight: bold; } }
.login-form, .forgotpass-form {
  padding: 0px 10px 0px 10px;
  margin-top: 50px; }
  .login-form table, .forgotpass-form table {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #eFeFeF;
    border-radius: 4px;
    padding: 10px; }
    .login-form table td, .forgotpass-form table td {
      border: 0px;
      vertical-align: middle; }
      .login-form table td input, .login-form table td textarea, .login-form table td select, .forgotpass-form table td input, .forgotpass-form table td textarea, .forgotpass-form table td select {
        height: 30px;
        width: 220px; }
      .login-form table td button, .forgotpass-form table td button {
        float: right;
        margin: 10px; }
    .login-form table td.extralinks, .forgotpass-form table td.extralinks {
      text-align: right; }

.section {
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.user_type_as, .role_type_as {
  /*display: none;*/ }

.label {
  width: 150px;
  /*display: inline-block;*/
  vertical-align: top;
  text-transform: capitalize; }

.dataSection {
  display: inline-block; }

.permissions input, .permissions textarea, .permissions select {
  margin-bottom: 10px;
  margin-right: 10px; }

a.signup {
  font-size: 12px;
  text-decoration: underline !important; }

.inputForm .label.notMandatory:after {
  content: ""; }
.inputForm .label:after {
  content: "*";
  color: red; }

.notes_list table, .dairy_updates_list table, .docs_list table {
  border-bottom: 0px solid #dddddd; }
  .notes_list table tr td, .dairy_updates_list table tr td, .docs_list table tr td {
    border-bottom: 0px solid #dddddd; }
  .notes_list table tr td.cell.label, .dairy_updates_list table tr td.cell.label, .docs_list table tr td.cell.label {
    width: auto; }

table.viewOne tr td.cell.label {
  /*width: auto;*/ }
table.viewOne tr td {
  border-bottom: 0px; }

table.viewOne.projectViewOne {
  margin: 0px; }

/* Accordiance CSS Override */
.accordion h3, .accordion h2 {
  padding: 5px 5px 5px 30px !important;
  background-color: transparent !important;
  background-image: none !important;
  border: 0px !important;
  clear: both;
  /*color: #244C61;*/ }

span.inner_accordion {
  font-size: 12px;
  color: #555555;
  padding: 1px 5px 1px 5px; }

.accordion h2 {
  padding: 5px 5px 0px 40px !important;
  color: #244C61 !important;
  font-size: 1.2em !important;
  font-weight: normal;
  text-transform: none !important; }

.project_section {
  border: 0px; }

/* Page Links */
.create-link {
  margin-bottom: 20px; }

.error {
  color: red; }

.size-12 {
  font-size: 12px; }

.size-14 {
  font-size: 14px; }

.size-16 {
  font-size: 16px; }

.size-18 {
  font-size: 18px; }

.size-21 {
  font-size: 21px; }

.size-24 {
  font-size: 24px; }

.size-36 {
  font-size: 36px; }

.size-48 {
  font-size: 48px; }

.size-60 {
  font-size: 60px; }

.size-72 {
  font-size: 72px; }

.red {
  color: red; }

.delete:hover {
  color: red; }

table.viewAll tr td {
  padding: 5px; }

a.accordion_link {
  width: 100px;
  position: absolute;
  margin-left: 600px;
  font-size: 12px;
  text-decoration: underline !important;
  text-align: right;
  float: left;
  left: 0px; }

a.accordion_link, a.accordion_link:visited {
  color: #4086AA !important; }

a.accordion_link:hover {
  color: #2B5B78  !important; }

a.accordion-icon {
  text-align: right;
  float: right; }

a.accordion-icon, a.accordion-icon:visited {
  color: #4086AA; }

a.accordion-icon:hover {
  color: #2B5B78; }

.header-options {
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px; }
  .header-options h2 {
    float: left; }
  .header-options .ui-icon {
    background-image: url("/images/jquery/ui-icons_ef8c08_256x240.png"); }
  .header-options .options-icon {
    float: right; }
    .header-options .options-icon a {
      text-decoration: none;
      margin: 0px 5px 0px 5px; }
  .header-options .left-icon-list {
    float: left; }
    .header-options .left-icon-list span {
      margin-left: 10px; }
  .header-options .expand-all, .header-options .collapse-all {
    float: left;
    border-width: 1px;
    border-color: #eb8f00;
    border-style: dotted;
    border-radius: 5px;
    cursor: pointer; }

.contractorDetails {
  border: 1px solid #D3D3D3;
  padding: 10px; }

.contractorCompany {
  margin-top: 10px; }

select.multi-select {
  min-height: 100px;
  min-width: 100px; }

textarea.small-textarea {
  width: 200px !important;
  height: 50px !important; }

.contractorSearch .searchIcon {
  padding: 0px 5px;
  position: absolute; }

.issue-contractor-for-project-result ul,
.adjuster-search-result ul,
.customer-search-result ul,
.contractor-search-result ul,
.contractor-search-selected ul,
.adjuster-search-result ul,
.adjuster-search-selected ul,
.issue-adjuster-for-project-result ul,
.default-user-search-result ul,
.owner-search-result {
  border: 1px solid #D0D0D0;
  width: 220px;
  min-height: 20px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
  background-color: #EEEEEE; }

.owner-search-result {
  /*max-height: none;
  float : none;*/ }

.owner-search-result.users {
  /*max-height: 150px;*/
  margin-top: -20px; }

.issue-contractor-for-project-result ul li,
.adjuster-search-result ul li,
.customer-search-result ul li,
.contractor-search-result ul li,
.contractor-search-selected ul li,
.adjuster-search-result ul li,
.adjuster-search-selected ul li,
.issue-adjuster-for-project-result ul li,
.default-user-search-result ul li,
.owner-search-result li {
  margin: 0px 2px 5px 2px;
  padding: 5px;
  font-size: 1.2em;
  width: 190px;
  color: inherit; }

.adjuster-search-result ul, .customer-search-result ul, .contractor-search-result ul, .default-user-search-result ul {
  margin-top: -12px;
  /*position: absolute;
  margin-left: 200px;*/ }

.adjuster-search-result .second, .customer-search-result .second, .contractor-search-result .company, .owner-search-result .company .default-user-search-result .second {
  color: #D2B9B9; }

.search-action {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 2px 1px 0px 1px;
  float: right;
  margin-top: -25px;
  background-color: #f6f6f6; }

.owner-search-result .search-action,
.issue-contractor-for-project-result .search-action,
.issue-adjuster-for-project-result .search-action {
  border: 0px;
  background: initial;
  padding: 0px;
  margin-top: -32px; }

/* Search Combo box */
.custom-combobox {
  position: relative;
  display: inline-block; }

.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0; }

.custom-combobox-input {
  margin: 0;
  padding: 5px 10px; }

a.icon-right {
  margin-top: -7px; }

#project_content .ui-widget-content,
#claims_content .ui-widget-content,
#contractor_content .ui-widget-content,
#tabs_contractor_company_details .ui-widget-content,
#partner_content .ui-widget-content,
#subrogation_content .ui-widget-content {
  border-width: 0px 0px 0px 0px; }

.projectViewOne .project-title {
  width: auto; }

.fl {
  float: left; }

.ui-accordion-icons .accordion-icon {
  display: none; }

.ui-accordion-header-active .accordion-icon {
  display: block; }

.internal-tab-as-links {
  text-align: center;
  /*border-bottom: 1px solid #D0D0D0;*/
  padding-bottom: 10px;
  margin: 0px 20px;
  text-align: right; }
  .internal-tab-as-links a {
    padding: 5px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0px 3px; }
  .internal-tab-as-links > a {
    border: 1px solid #E0E0E0; }
  .internal-tab-as-links > a.active {
    background-color: #E0E0E0; }

.connectedSortable {
  /*position: absolute;*/
  /*margin-top: -20px;*/ }

.connectedSortable.dropdown {
  position: absolute;
  margin-top: -20px;
  z-index: 10; }

.page-tabs {
  border: 0px;
  background: none; }

.page-tabs > ul {
  /*background: #FAC87F !important;*/
  background: #FFFFFF !important;
  border: 1px solid #e78f08; }
  .page-tabs > ul .ui-state-default {
    background: none; }
  .page-tabs > ul .ui-tabs-active {
    border-bottom: 1px solid #FFFFFF; }

#tradesList .red {
  color: red !important; }
#tradesList .accordion-icon {
  margin-left: 10px; }
#tradesList .viewOne a {
  text-decoration: none;
  display: none; }
#tradesList .viewOne tr.active a {
  display: block; }

.discount-table-list .red {
  color: red !important; }

#testimonialList .red {
  color: red !important; }
#testimonialList .viewOne a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
