/*** HEADER ***/
header {
	padding:$defaultPadding - 5px $defaultPadding - 5px;
	margin:0 auto;
	background-color:#FFFFFF;
	border-top:4px solid #326A85;
	border-bottom:4px solid #326A85;
	margin-bottom:$defaultMargin;

	.logged_in {
		float: right;

		.logged-in-as {
			display: inherit;
			font-size: 12px;
		}
	}

	.logo {
	}

	.captionText {
		font-size : 17px;
	}
}