/* misc */
code {
	background-color:#666666;
	display:block;
	color:#ffffff;
	padding:$defaultPadding;
	margin:$defaultMargin 0;
}
blockquote {
	border-left:4px solid #ddd;
	margin:0 0 0 20px;
	padding-left:15px;
}
