.banner-ul {
	padding:0px !important;
}

.banner-text {
	position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    bottom: 130px;
    left: 20px;
}

.banner-image {
	width : 960px;
	opacity: .7;
}