<div class="container">
	<div class="navbar navbar-static-top">
		<div class="navigation">
			<nav>
				<ul class="nav topnav">
					<li ng-class="{ 'active' : menu_l1.active, 'dropdown' : menu_l1.sub_menus.length }" ng-repeat="(menu_l1_key, menu_l1) in menus" nav-level1-finished>
						<a ng-href="{{ menu_l1.link }}">{{ menu_l1.menu_text }}<i class='icon-angle-down' ng-show="menu_l1.sub_menus.length"></i></a>
						<ul class="dropdown-menu" ng-show="menu_l1.sub_menus.length">
							<li ng-class="{ 'dropdown' : menu_l2.sub_menus.length }" ng-repeat="(menu_l2_key, menu_l2) in menu_l1.sub_menus">
								<a ng-href="{{ menu_l2.link }}">{{ menu_l2.menu_text }}<i class='icon-angle-right' ng-show="menu_l2.sub_menus.length"></i></a>
								<ul class='dropdown-menu sub-menu-level1' ng-show="menu_l2.sub_menus.length">
									<li ng-repeat="(menu_l3_key, menu_l3) in menu_l2.sub_menus">
										<a ng-href="{{ menu_l3.link }}" ng-click="menu_l3.clickfn">{{ menu_l3.menu_text }}</a>
									</li>
								</ul>
							</li>
						</ul>

					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>